/*   colour  blue #2196F3   our team bgc #F5F4FA 
    bgc dark #2F303A    text colour #212121  
      text colour2  #757575    */
* {
  margin: 0;
  padding: 0;
}

body {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

span {
  color: #2196f3;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/*============HEADER==============*/

header {
  display: flex;
  align-items: baseline;
  padding: 32px 0px;
  border: 1px solid #ececec;
}

nav ul {
  display: flex;
}

.header-right-side {
  display: flex;
  align-items: baseline;
}

.logo {
  color: #212121;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: 'Raleway', sans-serif;
}

.link {
  color: #212121;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-left: 50px;
}

.link.current {
  color: #2196f3;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.contact {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-left: 50px;
}

.contact:hover,
.contact:focus {
  color: #2196f3;
}

/*============CLOSE===HEADER==============*/

/*============HERO==============*/

.hero {
  padding: 200px 0;
  background-color: #2f303a;
}

.headline {
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 900;
}

.hero-button {
  background-color: #2196f3;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 40px auto 0 auto;
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  font-weight: 700;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/*============CLOSE===HERO==============*/

/*============ADVANTEGES==============*/

.advantages-title {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.advantages-content {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
}

.advantages-content {
  --grid-item: 4;
}

/*============CLOSE===ADVANTEGES==============*/

/*============SERVICES==============*/

.services-photo {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: 50px;
}

.services-link {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
}

.services-link {
  --grid-item: 3;
}

.caption {
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.services {
  padding-bottom: 94px;
}

/*============CLOSE===SERVICES==============*/

/*============TEAM==============*/

.team {
  background-color: #f5f4fa;
}

.team-roster {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-link {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
}

.team-link {
  --grid-item: 5;
}

.team-link {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  margin-top: 50px;
}

.name {
  color: #212121;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 500;
  text-align: center;
  margin: 30px auto 10px auto;
}

.description {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 10px auto 30px auto;
}

/*============CLOSE===TEAM==============*/

/*============FOOTER==============*/

footer {
  background-color: #2f303a;
  height: 252px;
  padding-top: 60px;
}

.footer-logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

address {
  font-style: normal;
}

.location {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.ft-contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 9px;
}

.ft-contact:hover,
.ft-contact:focus {
  color: #2196f3;
}

.contact-info {
  display: flex;
  margin-left: auto;
}

/*============CLOSE===FOOTER==============*/

/*===P====O====R====T====F====O====l====I====O*/

/*BUTTON SECTION*/

.button-section {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-button {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  width: 128px;
  height: 38px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: #2196f3;
  cursor: pointer;
  color: #ffffff;
}

.portfolio-button {
  flex-basis: calc((100% - 8px * var(--grid-item)) / var(--grid-item));
  margin-left: 8px;
}

.portfolio-button {
  --grid-item: 5;
}

/*PHOTO SECTION*/

.photo-section {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: 30px;
}

.photo-section li {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
}

.photo-section li {
  --grid-item: 9;
}

.portfolio-caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
}

.portfolio-note {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  padding-left: 24px;
}
