/*   colour  blue #2196F3   our team bgc #F5F4FA 
    bgc dark #2F303A    text colour #212121  
      text colour2  #757575    */
* {
  margin: 0;
  padding: 0;
}

body {
  color: #757575;
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

.logo {
  color: #212121;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

nav .link {
  color: #212121;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}

nav .link.current {
  color: #2196f3;
}

nav .link.kontakt {
  color: #212121;
}

nav .link:hover {
  color: #2196f3;
}

nav .link:focus {
  color: #2196f3;
}

.post {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.post:hover {
  color: #2196f3;
}

.post:focus {
  color: #2196f3;
}

.number {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.number:hover {
  color: #2196f3;
}

.number:focus {
  color: #2196f3;
}

.title {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
}

.headline {
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 900;
}

.caption {
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.name {
  color: #212121;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 500;
  text-align: center;
  margin: 30px auto 10px auto;
}

.button {
  background-color: #2196f3;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 40px auto 0 auto;
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
}

.button:hover {
  background-color: #188ce8;
}

.location {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 20px;
}

.note {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding: 10px 0;
}

.p-name {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 10px auto 30px auto;
}

address {
  font-style: normal;
}

.footer-ul a {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

span {
  color: #2196f3;
}

.portfolio-button {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  margin-right: 8px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  width: 128px;
  height: 38px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio-button:hover {
  background-color: #2196f3;
  cursor: pointer;
  color: #ffffff;
}

.portfolio-caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
}

.pfnote {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  padding-left: 24px;
}

.wrapper {
  display: flex;
  align-items: baseline;
}

nav ul {
  display: flex;
}

.contact-info {
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 32px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

nav .link {
  margin-left: 50px;
}

.contact-info a {
  margin-left: 50px;
}

.first-section {
  padding: 200px 0;
  background-color: #2f303a;
}

.second-section {
  padding: 94px;
}

.feature {
  display: flex;
}

.feature-content {
  margin-right: 30px;
}

.do-photo {
  display: flex;
  padding: 50px 0 94px 0;
}

.img-do-1 {
  margin-right: 30px;
}

.img-do-2 {
  margin-right: 30px;
}

.team {
  background-color: #f5f4fa;
}
.team-caption {
  padding-top: 94px;
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-ul {
  display: flex;
  padding-bottom: 94px;
}

.team-li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  margin-right: 30px;
  margin-top: 50px;
}

footer {
  background-color: #2f303a;
  height: 252px;
  padding-top: 60px;
}

.footer-logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.ft-post {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 9px;
}

.ft-post:hover {
  color: #2196f3;
}

.ft-number {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 9px;
}

.ft-number:hover {
  color: #2196f3;
}

.button-section {
  display: flex;
  margin: 94px 0 50px 0;
  justify-content: center;
}

.photo-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}

.photo-section li:not(.last-li) {
  margin-right: 30px;
  margin-bottom: 30px;
}
